[*.cs]

# CS8629: Un tipo que acepta valores NULL puede ser nulo.
dotnet_diagnostic.CS8629.severity = silent

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = silent

# CS8601: Posible asignación de referencia nula
dotnet_diagnostic.CS8601.severity = silent
