
@model AddOrEditMultipleViewModel

@{
    ViewData["Title"] = "Formulario de atención al cliente";
}


<div>
    <h1>Formulario web de atención al cliente</h1>

    <div>
        <!--
            <div asp-validation-summary="All"></div>
        -->
        <form method="post">
            <div class="form-group">
                <label asp-for="customerSupport.Name">Nombre</label>
                <input type="text" asp-for="customerSupport.Name" class="form-control" />
                <span asp-validation-for="customerSupport.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="customerSupport.LastName">Apellidos</label>
                <input type="text" asp-for="customerSupport.LastName" class="form-control" />
                <span asp-validation-for="customerSupport.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="customerSupport.Mobile">Teléfono Celular</label>
                <input type="text" asp-for="customerSupport.Mobile" class="form-control" />
                <span asp-validation-for="customerSupport.Mobile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="customerSupport.Email">Email</label>
                <input type="text" asp-for="customerSupport.Email" class="form-control" />
                <span asp-validation-for="customerSupport.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Sexo</label><br />
                @foreach (var item in Model.genders)
                {
                    <input type="radio" asp-for="customerSupport.Gender" value="@item.Value" id="Gender" class="form-check-input" />@item.Text
                }
                <br />
                <span asp-validation-for="customerSupport.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Motivo</label>
                @Html.DropDownListFor(x => x.customerSupport.Reason, Model.reasons,
                    "Seleccionar", htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="customerSupport.Reason" class="text-danger"></span>
            </div>

            <br />
            <input type="submit" class="btn btn-primary" value="Guardar" />
            <a class="btn btn-secondary" asp-controller="CustomerSupport" asp-action="Index">Cancelar</a>


        </form>
    </div>
</div>

